@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proto Mono";
  src: url("/fonts/ProtoMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Proto Mono Shadow";
  src: url("/fonts/ProtoMono-RegularShadow.woff2") format("woff2");
}

@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/Silkscreen-Regular.woff2") format("woff2");
}

:root {
  font-family: Proto Mono, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

html,
body {
  overflow: hidden;
  scroll-behavior: smooth;
  opacity: 0.95;
  /* background-color: black;
  color: white; */
}
.animated-fade {
  transition: all 0.2s ease-in-out; /* Adjust the duration and timing function as needed */
}

.light-theme {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}

.dark-theme {
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  /* filter: invert(100%);
  transition: all 0.5s; */
}

.dark-theme td {
  font-size: 11px;
  height: 2rem;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  border-right: 1px dashed rgba(255, 255, 255, 0.1);
  white-space: nowrap;
  padding-right: 10px;
  padding-left: 10px;
}

.light-theme td {
  font-size: 11px;
  height: 2rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  padding-right: 10px;
  padding-left: 10px;
}

.dark-theme th {
  white-space: nowrap;
  font-family: Silkscreen;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.light-theme th {
  white-space: nowrap;
  font-family: Silkscreen;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}

.dark-theme .glow {
  animation: dark-theme-glow 1s infinite alternate;
}

.dark-theme .glow-gold {
  animation: dark-theme-glow-gold 1s infinite alternate;
}

@keyframes dark-theme-glow {
  0% {
    box-shadow: 0 0 10px rgb(255, 255, 255); /* Blue color */
  }
  100% {
    box-shadow: 0 0 20px rgb(255, 255, 255); /* Increase the size of the shadow for the glow effect */
  }
}

@keyframes dark-theme-glow-gold {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 1);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 215, 0, 1);
  }
}

.light-theme .glow {
  animation: dark-theme-glow 1s infinite alternate;
}

.light-theme .glow-gold {
  animation: dark-theme-glow-gold 1s infinite alternate;
}

@keyframes light-theme-glow {
  0% {
    box-shadow: 0 0 10px rgb(255, 255, 255); /* Blue color */
  }
  100% {
    box-shadow: 0 0 20px rgb(255, 255, 255); /* Increase the size of the shadow for the glow effect */
  }
}

@keyframes light-theme-glow-gold {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 1);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 215, 0, 1);
  }
}

#searchsection {
  /* background-color: black; */
  padding-top: 10px;
  /* padding: 5px 0px; */
  white-space: nowrap;
}

#searchsection button {
  padding: 0px 4px;
}

/* #searchsection button {
  border-left: 3px solid white;
  border-right: 3px solid white;
} */

#applayout {
  height: 100dvh;
}

#searchsection button:hover {
  /* outline: 2px solid black; */
  filter: invert(100%);
}

input:hover {
  filter: invert(100%);
}

/* img:hover {
  filter: grayscale();
} */

footer {
  font-family: Silkscreen;
}

.dark-theme .buttons-container {
  border: 2px white solid;
}

.light-theme .buttons-container {
  border: 2px black solid;
}

.dark-theme .navigation-overlay {
  background-color: black;
}

.light-theme .navigation-overlay {
  background-color: white;
}

.dark-theme input {
  background-color: black;
}

.fav-star-div {
  color: transparent;
}

.dark-theme .fav-star-div:hover {
  color: rgba(255, 255, 255, 0.8);
}

.light-theme .fav-star-div:hover {
  color: rgba(0, 0, 0, 0.8);
}

.dark-theme .selected-star {
  color: rgba(255, 255, 255, 0.8);
}

.light-theme .selected-star {
  color: rgba(0, 0, 0, 0.8);
}
